/*Обнуление*/

*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background-color: #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	font-size: 16px;
	padding: 30px;
}

/*
h1 {
	margin: 0px 0px 20px 0px;
}
h2 {
	margin: 0px 0px 15px 0px;
}

.yellow {
	color: rgb(231, 231, 0);
}
.A-1
{
	margin-top: 100px;
	width: 100px;
	height: 50px;
}
.A-2
{
	margin-top: 100px;
	width: 100px;
	height: 50px;
}
table {
	border-collapse: collapse;
}

td {
	border: 1px solid black;
	padding: 3px 5px;
}

@keyframes go-left-right {        !* объявляем имя анимации: "go-left-right" *!
	from { left: 0px; }             !* от: left: 0px *!
	to { left: calc(100% - 50px); } !* до: left: 100%-50px *!
}
*/

/*.progress {
	animation: go-left-right 3s infinite alternate;*/
	/* применить анимацию "go-left-right" на элементе
       продолжительностью 3 секунды
       количество раз: бесконечно (infinite)
       менять направление анимации каждый раз (alternate)
    */

/*	position: relative;
	border: 2px solid green;
	width: 50px;
	height: 20px;
	background: lime;
}*/
/*@keyframes grow-plane {        !* give it a name: "go-left-right" *!
	from { width: 40px; height: 24px}             !* animate from left: 0px *!
	to { width: 400px; height: 240px;} !* animate to left: 100%-50px *!
}*/
/*.img {
	width: 40px;
	height: 24px;
	transition: all 3s;
}

.img.growing {
	width: 500px;
	height: 350px;
}
.img.growingBack {

	width: 400px;
	height: 240px;
}*/
/*
.div.cx{]
}

.div.cy{]
}

.div.radius{]
}*/
/*
.div {
	transition-property: width, height;
	transition-duration: 2s;
	position: fixed;
	transform: translateX(-50%) translateY(-50%);
	background-color: red;
	border-radius: 50%;
	width: 0;
	height: 0;
}*/
/*
.text {
	font-size: 20px;
	line-height: 200px;
	text-align: center;
	color: black;
}
.circle {
	transition-property: width, height, margin-left, margin-top;
	transition-duration: 2s;
	position: fixed;
	transform: translateX(-35%) translateY(-30%);
	background-color: red;
	border-radius: 50%;
}*/
/*
.train {
	position: relative;

}*/
/*
progress {
	width: 5%;
	height: 40px;
}
*/

#brick {
	width: 75px;
	height: 75px;

	position: relative;
	cursor: pointer;

}

#path {
	position: relative;
	top: 200px;

	width: 540px;
	height: 20px;
	transform: rotate(90deg);
}